@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

*{
    list-style: none;
    text-decoration: none;
}

.transparent{
    background-color: transparent;
    transition: background ease-out 0.2s;
}

.bg{
    background-color: white;
    -webkit-box-shadow: 0px 10px 23px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 23px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 23px -12px rgba(0,0,0,0.75);

}

.cor-fixa{
    color: white;
    text-transform: uppercase;
    font-family: var(--font-action);
}

span .navbar-toggler-icon{
    color: red;
    border-color: red;
  }

.cor-bg{
    color: black;
}

.bloco{
    margin-bottom: 6rem;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.img-wrapper{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 300px;
    width: 100%;
    height: 100%;

}

.img-wrapper img{
    overflow: hidden;
    width: 100%;
    min-height: 300px;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    animation: zoom 20s;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 35%;
    
}


.banner h1{
    color: #fff;
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 0.5em;
    opacity: 0;
    animation: moveBanner 1s .2s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 2rem;
    text-shadow: .2rem .3rem rgba(0, 0, 0, .4);
    margin-bottom: 0.5em;
    opacity: 0;
    animation: moveBanner 1s .4s forwards;
}

.banner a{
    font-family: var(--font-action);
    letter-spacing: 0.2rem;
    opacity: 0;
    animation: moveBanner 1s .6s forwards;
}

.banner .botao{
    color: #fff;
    padding: 0.8rem 1.6rem;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
}

.banner .botao:hover{
    color: #fff;
    background: -webkit-linear-gradient(to right, #503061, #b47399);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #503061, #b47399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0rem) rotateY(-0deg);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    opacity: 0.95;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 0.5s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,  -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 0.5s;
}

.menu-link:hover{
    color: #6c03a5;
    text-decoration: none;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.social-media i{
    color: #555;
    border-radius: 50%;
}

.social-media i:hover{
    color: #6c03a5;
}

#conhecimentos i{
    color: #6c03a5;
}

#conhecimentos a.link{
    font-size: 1.2rem;
    font-family: var(--font-action);
    color: #6c03a5;
}

h1.linha-roxa{
    font-family: var(--font-primary);
}

#projetos{
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#projetos .cards{
    width: 100%;
    height: 15rem;
    border-radius: 10px; 
    transition: all ease-out .5s; 
}

.card1{
    background: url(../assets/projeto1.jpg);
}

.card-info{
    opacity: 0;
    
}

.card-info:hover{
    text-decoration: none;
    border-radius: 10px; 
    transition: all 0.5s;
    padding: 15px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);   
}

#destaque h2{
    font-size: 3rem;
    font-weight: 600;
    color: #6c03a5;
}

#clientes .caixa{
    width: 100%;
    height: 5rem;
    border-radius: 10px;
    padding: 2px;
}

#clientes .caixa img{
    filter: grayscale(100%);
    opacity: 0.6;
}

#clientes .caixa img:hover{
    filter: none;
    opacity: 1;
}
